
/* The primary document styling */
html, body {
  margin: 0;
  height: 100%; /* can also use viewport units (height: 100vh) */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  min-width: 415px;
}

strong { font-weight: 500; }
/* The within-body container of the header and the main elements. */
#container {}

#profilephoto {
    align-self: center;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    background-image:url('img/headshot4.jpg');
}

/* debugging */
/* * { */
/*     outline: 1px solid red; */
/* } */

/* Header subblock of body */
header {
    background: #003057;
    height: 50px;
    display:flex;
    justify-content: start;
    /* align-items: center; */
    position: fixed;
    z-index: 100;
    width: 100%;
    text-align: center;
    margin: auto;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.11);
    /* padding-left: 5vw; */
    /* padding-right: 50vw; */
}

h1 { margin: 0px; }

/* Main subblock of body */
main {}

/* Not really needed currently, but wraps info within the header */
subheader {
    margin: auto;
    width: 840px;
    display: flex;
    justify-content: space-evenly;
    gap: 0px 10px;
    align-items: center;
    /* align-self: flex-start; */
    align-content: space-around;
    flex-wrap: wrap;
}

/* Subblock of main */
section {
  margin: auto;
  max-width: 840px;
  /* Expand vertically */
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

/* Special section for the top */
#biosection {
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    /* Expand horizontally */
    flex-direction: row;
    padding-top: 80px;
}

/* Element to style the news list */
#newslist {
    list-style:inside;
    margin:0;
}

/* Styling of news list items */
#newslist li {margin: 7px 0px; list-style:none}
/* #newslist li {margin: 5px 0px;} */

/* Element to style the publication section */
#publications {}

/* Link styling */
a { white-space: wrap; }
a:link    { color: #0055aa; text-decoration:none;}  /* unvisited links */
a:visited { color: #0055aa; text-decoration: none;}  /* visited links   */
a:hover   { color: #0055aa;}  /* user hovers     */
a:active  { color: #0055aa; text-decoration: none;}  /* active links    */
a:focus {text-decoration: none;}
a.headerlink { color: #FFFFFF;}
/* Styling of text links */
.txtlink:hover {background: #bfd7ff;}

/* I think this is unused. TODO */
a.pub {font-weight: bold;}

/* Publication category styling */
.catlink {display: flex; flex-wrap: wrap; justify-content: flex-start; margin-top: 0;}

/* Styling of the publication topic list */
li.cat          {list-style-type: none; margin-top: 2px; margin-bottom:2px; margin-left: 2px; margin-right: 2px; padding-left:3px; padding-right:3px; padding-top: 3px; padding-bottom: 3px;}
/* Styling of inactive publication topic links */
li.cat {color:#003057; padding: 5px 2px; border: 1px solid #003057; border-radius: 5px; cursor:pointer}
li.cat:hover { background-color:#003057; padding: 5px 2px; color: #FFFFFF;}
/* Styling of the active publication topic link */
li.activecat {background-color:#003057; padding: 5px 2px; color: #FFFFFF; cursor:pointer}

li.cat.pointer { cursor:pointer}
li.cat > a {color:#003057; cursor:pointer}

/* Styling of the active publication topic link */
li.activecat > a {background-color:#003057; color: #FFFFFF; cursor:pointer}

/* Publication element */
publication {
    max-width: 840px;
    display: flex;
    /* Expand vertically (the pubcore and pubaux content) */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* News element */
news {
    max-width: 840px;
    display: flex;
    /* Expand vertically (the pubcore and pubaux content) */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

/* news.honor li { list-image-style: } */

/* Element to contain the visual and main publication info */
pubcore {
    display: flex;
    justify-content: center;
    /* Expand elements within the pubcore horizontally */
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 10px;
}

/* Element to contain the abstract and bib info */
pubaux {
    display: flex;
    /* Expand elements within the pubaux vertically (eg abstract and bib info) */
    flex-direction: column;
}

/* Publication image class styling */
.pubimg{
    max-width:  200px;
    padding-bottom:0px;
    padding-left:0vw;
    padding-right:0vw;
    border: 1px solid #333333; 
    border-radius: 2px;
    margin:0 0 0vw 0vw;
}
/* Make the images opaque on hovering to suggest interactivity */
.pubimg:hover { opacity: 0.6; }

/* Publication title styling */
ptitle2 {   font-size: 20px; line-height: 150%; }
/* Author names styling */
.author { margin: 0;}

/* Styling of important text */
important { color:#990001; }

/* Element to style section titles */
sectitle 
{
    color:#000000;
    font-size: 20pt;
    text-align:left;
    margin-bottom: 5px;
}

/* Element to style lastmod text */
lastmodified 
{
    color:#999999;
    font-size: 10pt;
}

.half {display: none;}

/* Publication image parent container */
.aside { padding: 5px; flex-grow: 0; min-width: 200px;}
/* Publication information parent container */
.info { padding: 5px;}

/* Hidden element styling (used for abstract and bib)*/
div.noshow { display: none; position: relative;}
/* Styling of abstract and bib elements */
div.abstract {max-width: 840px; position: relative; font-size: 10px;}
div.bib {max-width: 840px; position: relative; font-size: 10px;}

/* TODO I think this is unused */
div.inline-block {
    display: inline-block; max-height: 9vh;
    padding-right: 0.25vw; padding-top:1vh; padding-bottom:1vh; }

#topicsummary ul {margin:0px;}
ol {margin:0px;}

@media all and (min-width: 1px) {
    /* When the screen is small, let the core publication info wrap */
    pubcore { 	flex-flow: row wrap; }
    #topicsummary { display:flex;	flex-flow: row wrap; justify-content: flex-start; column-gap: 3vw; row-gap: 3vw;}
    main {padding-left: 1vw; padding-right: 1vw;}
    subheader {margin: 5px; flex-wrap: wrap}
    header {height: 70px;}
    #summaryblock {text-align: center;}
    .pubimg {max-width:  100%; min-width: 100%}
    .aside {flex-grow: 1;}
    /* #namespan {display:none;} */
    #workshopsspan {display: none;}
    #talksspan {display: none;}
    #careerspan {display: none;}
    #honorsspan {display: none;}
}

@media all and (min-width: 800px) {
    /* When the screen is large, do not let the core publication info wrap (we have enough space to show it in one row)*/
    pubcore {flex-flow: row nowrap;}
    subheader {width: 860px; margin:auto; flex-wrap: nowrap; }
    header {height: 50px;}
    #topicsummary { display: flex;	flex-flow: row nowrap; justify-content: center; column-gap: 3vw; row-gap: 3vw;}
    #summaryblock {text-align: left;}
    .pubimg {width: 200px}
    .aside {flex-grow: 0;}
    /* #namespan {display: flex;} */
    #workshopsspan {display: flex;}
    #talksspan {display: flex;}
    #careerspan {display: flex;}
    #honorsspan {display: flex;}
}

/* Global styling of image elements. Caps the size of all images and videos */
img { max-width: 200px;}
video { max-width: 200px;}

/* Global styling of lists and paragraphs */
ul { padding: 0px; list-style: circle inside;}

p { padding: 0px; margin: 0;}

/* Styling of pre elements. We'll wrap them (not very pre of us) so that they aren't too wide */
pre {max-width: 840px; white-space: pre-wrap;}
